.navLink {
  text-decoration: none;
  background-color: white;
  font-size: 1em;
  font-weight: 100;
  border: 1px solid lightgray;
  color: gray;
  flex: 1;
  padding: 4px 0;
}

.navLink:focus {
  outline: none;
}

.navLink:hover {
  cursor: pointer;
  background-color: lightgray;
}

.navLink:active {
  background-color: white;
}

#navWrapper {
  position: relative;
  margin: auto;
  padding: 0;
  width: 10%;
}

#dropDownLinks {
  display: none;
  width: 100%;
  animation: menuload .3s ease-out;
}

#navWrapper:hover {
  width: 100%;
  cursor: pointer;
}

#navWrapper:hover #arrowWrap {
 top: 1.75rem;
}


#navWrapper:hover #dropDownLinks {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: absolute;
}

#dropDownButton {
  margin: auto;
  margin-bottom: 60px;
  width: 1px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

#dropDownButton:active{
    display: flex;
    z-index: 1;
}

#arrowWrap {
  margin: 0;
  padding: 0;
  position: relative;
  border-top: 1px solid white;
}

#arrow {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 15px solid red;
  padding-bottom: 10px;
}

@keyframes menuload {
  from { opacity: 0;};
  to { opacity: 1;};
}

@media (min-width: 1024px) {
  .navLink {
    padding: 10px;
  }

  #navWrapper:hover #arrowWrap {
 top: 2.5rem;
}

  #arrow {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 25px solid red;
  }
}
