body {
  max-width: 1024px;
  margin: auto;
}

#headerWrapper {
  background-color: red;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#headerLogo {
  margin: 0;
  padding: 15px;
  border-right: 1px solid white;
}

#searchBar {
  margin-left: 10%;
}

@media (min-width: 1024px){
  #headerLogo {
    padding: 30px;
  }
}