html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  background-color: #333;
}

body {
  max-width: 1024px;
  margin: auto;
  background-color: white;
  min-height: 100vh;
}

#headerWrapper > div {
  flex: 3;
}

#headerWrapper {
  background-color: red;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  box-sizing: border-box;
}

#headerLogo {
  margin: 0;
  padding: 25px;
  border-right: 1px solid white;
}

@media (min-width: 1024px) {
  #headerLogo {
    padding: 20px;
  }
}
