@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.movieContainer {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
}

.movie_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.slick-prev:before {
  text-shadow: 0px 0px 10px red;
  font-size: 30px;
  content: '\2190';
  position: relative;
  bottom: 3.5rem;
  right: 10px;
}

.slick-next:before {
  text-shadow: 0px 0px 10px red;
  font-size: 30px;
  content: '\2192';
  position: relative;
  bottom: 3.5rem;
}

button:focus {
  outline: none;
}

.poster {
  width: 200px;
  max-height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  box-shadow: 1px 1px 10px 1px grey;
  transition: all 0.2s ease;
}

.poster:hover {
  box-shadow: 1px 1px 15px 1px grey;
  width: 202px;
}

.movieTitle {
  padding: 10px 10px;
  margin: 0px 10px;
  font-style: italic;
}

.releaseDate {
  padding: 0;
  margin: 0;
}

.movieMasterContainer {
  margin: 0px 50px 50px 50px;
}

.subheader {
  margin: -2rem 0 2rem;
}
